.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.5em;
    margin: 0 auto;
}

.stop {
    color: red;
}

.player-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    justify-content: center;
}

.player-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    height: 7em;
    width: 8em;
    border: 1px solid;
    padding: auto 1em;
    gap: 0.2em;
}

h2 {
    text-align: center;
    margin: 0;
}

h4 {
    margin: 0;
}