h1 {
  line-height: 1.3;
}

button {
  border-radius: 8px;
  border: var(--stdBorder) transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: var(--buttonWidth);
  height: 42px;
}
button:hover {
  border-color: #646cff;
}
button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

html {
  height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 1.3em;
  min-width: 320px;
  border: var(--stdBorder);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-variant-numeric: tabular-nums;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  -webkit-font-smoothing: antialiased;
}