div.start {
    display: flex;
    justify-content: end;
}

button.start {
    margin-top: 0.6em;
    padding: 0;
    width: 8em;
    background-color: green;
}

button.start:hover {
    border-color: rgba(255, 255, 0, 0.8);
  }