div.start {
    display: flex;
    justify-content: end;
}

button.start, button.stop {
    margin-top: 0.6em;
    margin-right: var(--stdMargin);
    padding: 0;
    width: 8em;
}

button.start {
    background-color: var(--green);
    color: black;
}

button.stop {
    background-color: var(--red);
}

button.start:hover, button.stop:hover {
    border-color: var(--yellow);
}

tbody tr:last-child .name {
    border-radius: 0 0 0 var(--tdRadius);
}

tbody tr:last-child .top-zug {
    border-radius: 0 0 var(--tdRadius) 0;
}