.tables_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5em;
    justify-content: center;
    border: 1px solid;
    padding-bottom: 2em;
    padding-top: 0.5em;
}

h3 {
    text-align: left;
}


  
table {
    border-collapse: collapse;
}

th, td {
    padding: 0 0.5em;
    /* border-right: 1px solid; */
}
  
th {
    padding-bottom: 0.5em;
}

.updown {
    padding: 0 0.1em;
    width: 3.4em;
}
  
tr {
    border-bottom: 1px solid;
}
  
tr.last {
    border: 0px
}

.id, .points, .new_button {
    text-align: right;
}

.id {
    width:2em;
}

.name {
    width: 6em;
    text-align: left;
}

.points {
    width: 6em;
}


  
input {
    margin: 0 10px 0 0;
    width: 20em;
}
  
.new_button {
    width: 54.79px;
}
  
.game_table_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1.5em;
}