.test {


    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.vertical {
    --width_vertical: 75%;
    width: var(--width_vertical);
}

.vertical img {
    width: 15em;
    height: auto;
    margin: 0.7em 0 0.6em 0;
}

.logos-left, .logos-right {
    /* width: (100% - var(--width_vertical)) / 2; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.logos-left img, .logos-right img {
    width: 6em;
    height: auto;
}

div.left {
    width: 50%;
    padding-right: 1.3em;
    padding-bottom: 1.3em;
    display: flex;
    justify-content: right;
    border-right: 1px solid;
}

div.right {
    width: 50%;
    padding-left: 1.3em;
    padding-bottom: 1.3em;
    display: flex;
    justify-content: left;
}

.table-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.table-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

h3 {
    margin: 0.4em 0;
}

table {
    border-collapse: collapse;
}

tbody tr {
    border-bottom: 1px solid;
    height: 45px;
}

tr:last-child {
    border-bottom: 0;
}

.id {
    width: 2em;
    text-align: right;
}

.name {
    width: 6em;
    padding-left: 0.5em;
}

.points, .top-zug {
    width: 5em;
    text-align: right;
}

.top-zug {
    padding-right: 0.5em;
}

.updown {
    width: 55px;
    background-color: #242424;
}

td.new {
    padding-left: 0.5em;
}