div.game-bar-container {
    display: flex;
    flex-direction: column;
}

div.control {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    margin-left: var(--stdMargin);
}

.control button {
    border-color: var(--borderColor);
    border-width: var(--borderWidth);
    border-style: solid;
}

button.back {
    border-radius: var(--controlRadius) 0 0 var(--controlRadius);
    background-color: var(--blue);
}

button.cancel {
    border-radius: 0 0 0 0;
    background-color: var(--red);
}

button.finish {
    border-radius: 0 var(--controlRadius) var(--controlRadius) 0;
    background-color: var(--green);
}