.game-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 2em;
    padding-top: 0.5em;
}

/* .left {
    width: 50vh;
    display: flex;
    justify-content: right;
    border-right: 1px solid;
}

.right {
    width: 50vh;
    display: flex;
    justify-content: left;
} */

.player-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 0 1em 1em 2em;
    gap: 1em;
}

.game-bar-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 2em 1em 1em;
}

.stop {
    color: red;
}

.player-card {
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 4.6em;
    width: 9em;
    border: 1px solid;
    gap: 0.2em;
    padding-bottom: 0.4em;
}

h2 {
    text-align: center;
    margin: 0;
}

h4 {
    margin: 0;
}

input {
    width: 2em;
    margin: 0 10px 0 0;
    text-align: center;
}