h3.right {
    margin-left: 63px;
}

table.game {
    margin-left: var(--stdMargin);
    margin-right: auto;
}

tr {
    height: var(--trHeight);
}

tbody.game tr:first-child .name, tbody.game tr:first-child .points, tbody.game tr:first-child .top-zug {
    background-color: var(--yellow);
    color: black;
}

tbody.game tr:last-child .name {
    border-radius: 0 0 0 var(--tdRadius);
}

tbody.game tr:last-child .top-zug {
    border-radius: 0 0 var(--tdRadius) 0;
}